* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    max-width: 500px;
    margin-bottom: 50px;
}

input {
    width: 200px;
}

button {
    display: inline-block;
    width: 50px;
    margin-top: 20px;
}

/* 

    ABOUT

*/

p {
    font-size: 24px;
    margin: 50px 0;
}

