* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    max-width: 500px;
    margin-bottom: 50px;
}

input {
    width: 200px;
}